<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059091180763-6thhl5ve750orrrq5fftn5fqm3321s5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059091180763-6thhl5ve750orrrq5fftn5fqm3321s5m</string>
	<key>API_KEY</key>
	<string>AIzaSyC_fDI7SDt4jylWGSPxXnS_xwo1XSh__H0</string>
	<key>GCM_SENDER_ID</key>
	<string>1059091180763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quickMedcare</string>
	<key>PROJECT_ID</key>
	<string>quickmedcare-528e5</string>
	<key>STORAGE_BUCKET</key>
	<string>quickmedcare-528e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059091180763:ios:aaedfd640f62bda5b330fe</string>
</dict>
</plist>